@import '../variables.scss';

.header-root {
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  border-bottom: solid 1px black;
  background: $dark;
}

.header-container {
  height: 100%;
  padding: 0 20px;
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Baloo Bhai', cursive;
    color: white;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .header-button {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      color: white;
      font-weight: 600;
      outline: none;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }
  }
}
