@import '../../variables.scss';

.deck {
  height: 100%;
  width: auto;
  background-color: $dark;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .img-container {
    height: 50%;
    width: auto;

    &.common {
      height: 100%;
    }

    img {
      height: calc(100% - 10px);
      width: auto;
      border: solid 5px transparent;
      border-radius: 10px;

      &:hover {
        border: solid 5px red;
      }
    }
  }

  &.common {
    height: 50%;
    flex-direction: row;
  }

  &.top-deck {
    transform: rotate(180deg);
  }

  &.left-deck {
    transform: rotate(90deg);
    margin-right: 200px;
  }

  &.right-deck {
    transform: rotate(-90deg);
    margin-left: 200px;
  }
}
